h1{
    background-color: black;
    color: white;
}
body {
    background-color: darkgrey;
    font-weight:750;
    

}
.mypic{
    float:left;
    height:300px;
    width:400px;
    padding:25px;

}
